<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bluntApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22277D6C1D66BD28004167E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22277D801D66BD29004167E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22277D8B1D66BD29004167E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
